@import "tailwindcss";

:root {
  font-family: inter;
  line-height: 1.5;
  font-weight: 400;

    --layout-padding-mobile: 1rem;
    --layout-padding-tablet: 1.5rem;
    --layout-padding-desktop: 2rem;
  
    --dashboard-cols-mobile: 1;
    --dashboard-cols-tablet: 2;
    --dashboard-cols-desktop: 4;
  
    --chart-mode: mobile;
}

@media (min-width: 640px) {
  :root {
    --chart-mode: tablet;
  }
}

@media (min-width: 1024px) {
  :root {
    --chart-mode: desktop;
  }
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
