@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    /* Layout */
    --layout-padding-mobile: 1rem;
    --layout-padding-tablet: 1.5rem;
    --layout-padding-desktop: 2rem;
  
    /* Grid */
    --dashboard-cols-mobile: 1;
    --dashboard-cols-tablet: 2;
    --dashboard-cols-desktop: 4;
  
    /* Charts */
    --chart-mode: mobile;
}

@media (min-width: 640px) {
  :root {
    --chart-mode: tablet;
  }
}

@media (min-width: 1024px) {
  :root {
    --chart-mode: desktop;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
